body {
  font-family: sans-serif;
  background-color: #fff0f5;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  background-color: #ffb6c1;
  padding: 2rem;
}
h1 {
  font-size: 3rem;
  margin: 0;
}
section {
  padding: 2rem;
}
form input, form button {
  padding: 0.5rem;
  margin: 0.5rem;
}
